name: 'Terraform GitHub Actions'
on:
  pull_request:
    branches:
      - master

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master

      - name: Configure AWS Credentials
        uses: clouddrove/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TEST_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.TEST_AWS_ACCESS_SECRET_KEY }}
          aws-region: us-east-2


      - name: 'Terraform Format'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'fmt'

      - name: 'Terraform init for APN basic'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'init'
          tf_actions_working_dir: ./_example/APNS/basic

      - name: 'Terraform validate for APN basic'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'validate'
          tf_actions_working_dir: ./_example/APNS/basic

      - name: 'Terraform plan for APN basic'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'plan'
          tf_actions_working_dir: ./_example/APNS/basic


      - name: 'Terraform init for APN complete'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'init'
          tf_actions_working_dir: ./_example/APNS/complete

      - name: 'Terraform validate for APN complete'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'validate'
          tf_actions_working_dir: ./_example/APNS/complete

      - name: 'Terraform plan for APN complete'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'plan'
          tf_actions_working_dir: ./_example/APNS/complete

      - name: 'Terraform init for GCM'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'init'
          tf_actions_working_dir: ./_example/GCM

      - name: 'Terraform validate for GCM'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'validate'
          tf_actions_working_dir: ./_example?GCM

      - name: 'Terraform plan for GCM'
        uses: 'clouddrove/github-actions@v4.0'
        with:
          actions_subcommand: 'plan'
          tf_actions_working_dir: ./_example/GCM

      - name: 'Slack Notification'
        uses: clouddrove/action-slack@v2
        with:
          status: ${{ job.status }}
          fields: repo,author
          author_name: 'CloudDrove'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # required
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_TERRAFORM }} # required
        if: always()